<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>InterviewPrepAI</h1>

        <h2>AI Powered Interview Preparation Platform</h2>

        <ul>
            <li><a href="/aptitude">Aptitude Questions</a></li>
            <li><a href="/technical">Technical Questions</a></li>
            <li><a href="/hr">HR Interview Questions</a></li>
            <li><a href="/resume">Resume Analyzer</a></li>
        </ul>

    </div>

</body>
</html>